*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: cornsilk;
}

body {
    background-color: #121212;
    color: cornsilk;
}

header {
    min-height: 6vh;
    display: grid;
    align-items: center;
    font-size: 1.8rem;
}

main {
    display: grid;
    grid-template-rows: 1fr 5fr;
    align-items: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 200px;
    list-style: none;
    place-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 1.3rem;
}

#recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

#recipe {
    display: grid;
    grid-template-rows: 1fr 3fr;
    place-items: center;
    padding-block-end: 30px;
    max-height: 550px;
}

h1 {
    font-size:6rem;
    background-color: rgba(240, 255, 255, 0.089);
    padding: 15px;
}

#title {
    text-align: center;
}

h2 {
    font-size: 4rem;
}

section {
    background-color: rgba(240, 255, 255, 0.219);
    border-radius: 3%;
    min-height: 50vh;
    width: calc(25vw + 100px);
}

img {
    max-width: 25vw;
    height: auto;
    border-radius: 25%;
}

footer {
    display: grid;
    height: 7vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-inline: 5%;
}

footer > p {
    grid-column: 2 / 3;
    justify-self: end;
}

footer > a {
    width: fit-content;
}

@keyframes pizza {
    :hover {

    }
}